*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

. {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** typogaphy ***/
a {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #180333;
}

a.nav_link {
  color: #F1E6FF;
  padding: 1.6rem;
}

h1 {
  color: #F1E6FF;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  text-align: center;
}
h2 {
  color: #F1E6FF;
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  text-align: left;
  line-height: 1.5;
}
h3 {
  font-family: 'Muli', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #180333;
}
h4 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #180333;
}

p{
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  color: #180333;
}
p.resume_header {
  font-size: 1.6rem;
  font-weight: bold;
}
p.resume_date {
  font-weight: 200;
  text-transform: uppercase;
}

.slogan_b {
  color: #180333;
}


/*** structure ***/
.about_title {
  padding-top: 6.4rem;
  padding-bottom: 2.4rem;
}

.about_intro {
  padding-top: 4rem;

}
.about_me {
  padding-top: 1.6rem;
}
article {
  padding-top: 4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.biography {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.bio_text {
  width: 80%;
}

.me {
  width: 25%;
  height: fit-content;
}

.branding_img {
  display: inline-block;
  padding: 4rem auto;
}


.conclusion {
  margin-bottom: 5.6rem;
}

.container {
  background-color: #F2F2F2;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
#contact {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  padding-bottom: 4rem;
}
.contact_links {
  padding-top: 1.6rem;
}

div.desc {
  margin: auto;
  text-align: center;
}

.exp_header {
  padding-bottom: 1.6rem;
}
.experience{
  padding-top: 8rem;
  padding-bottom: 2.4rem;
}

.featured_project {
  display: flex;
  flex-direction: column;
}
h4 {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}

h3 {
  padding-bottom: 1.6rem;
}

header {
  width: 100%;
  background-color: #180333;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(180deg, #180333 0%, rgba(30, 4, 64, 0.95) 45.83%, #180333 100%);
    margin: auto;
    width: 100%;
    padding-bottom: 2.4rem;
    height: auto;
  }


li {
  color: #F1E6FF;
}


.name {
  padding-top: 3.2rem;
}
.main {
  max-width: 160rem;
}
/*** top nav bar ***/
.active {
  display: block;
}

.nav_bar {
  background-color: #180333;
  width: 100%;
}

.nav_link {
  margin-bottom: .8rem;
}

.nav_logo {
  width: 4rem;
  margin: 0;
  padding-left: 1.6rem;
  padding-top: .8rem;
}

#nav_menu li {
  text-align: center;
  padding: .8rem;
}

#nav_menu {
  list-style-type: none;
  display: none;
  flex-direction: column;
}
#navbar_toggle {
  position: absolute;
  top: .8rem;
  right: 2.4rem;
  cursor: pointer;
  color: #F1E6FF;
  font-size: 2.4rem;
}
#personas_janessa {
  padding-right: 1.6rem;
}

.project_summary {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1.5;
}
.project_title {
}

section {
  padding-top: 3.2rem;
}

.slogan_a {
  text-align: center;
  padding: 6.4rem;
}

.summary {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.2rem;

}

.resume_date {
  padding-bottom: .8rem;
}

.resume_header {
  padding-bottom: 1.6rem;
}

.skills {
  padding-bottom: 3.2rem;
}



ul.footer {
  display: flex;
  align-items: baseline;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #180333;
}
.footer_element {
  font-size: 1.2rem;
  color: #F2F2F2;
  text-decoration: none;
  flex-basis: 2.4rem;
}
.footer_text {
  flex: 1;
}
i {
  color: #F2F2F2;
  padding-right: 1.6rem;

}


/***flexbox image galleries for project.html***/

.img_gal_flex {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: column;
}
.flexi {
  width: calc(100% - 1.6rem);
  margin: .8rem
}

.branding_imgs {
  display: flex;
  justify-content: space-around;
}

.responsive_personas {
  display: flex;
  flex-wrap: wrap;
}

.persona {
  width: 100%;
  margin: .8rem;
}

/***images***/


img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  object-fit: cover;
  height: auto;
  width: 100%;
}
img.branding_img {
  width: 40%;
}



img.file {
  width: 25%;
}

img.solution_img {
    width: 80%;
}

img.user_research_img {
  width: 80%;
}



/***responsive***/

@media only screen and (min-width: 700px){
  /*** typography ***/
  a {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.6rem;
  }

  p.resume_header {
    font-size: 1.6rem;
  }
  .nav_link {
    font-size: 1.2rem;
  }
/*** hero ***/
.name .about_title .project_title {
  padding-top: 7.2rem;
}
.about_intro .summary {
  padding-bottom: 3.2rem;
}

/*** images ***/
.branding_img {
  width: calc(25% - 1.6rem);
  margin: .8rem;
}

  .persona {
  width: calc(50% - 1.6rem);
  margin: .8rem;
}

  .img_gal_flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: row;
  }
  .flexi {
    width: calc(50% - 1.6rem);
    margin: .8rem;
  }
  .project_title {
    padding-top: 16rem;
  }

/*** about me ***/
.biography {
  flex-direction: row;
}

.bio_text {
  width: 50%;
}

/*** nav bar ***/
  .nav_bar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 6.4rem;
        align-items: center;
        position: fixed;
    }

    #nav_menu {
        display: flex;
        margin-right: 3.2rem;
        flex-direction: row;
        justify-content: flex-end;
    }
    #nav_menu li {
        margin: 0;
    }
    .nav_link {
        margin-left: 4rem;
    }
    .nav_logo {
        width: 5.6rem;
        margin-top: 0;
    }
   #navbar_toggle {
       display: none;
    }
  }
