*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

. {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** typogaphy ***/
a {
  font-family: 'Muli', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #180333;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

a:hover {
  color: #524266;
  text-decoration: underline;
}

a.nav_link {
  color: #180333;
  margin: 1.4rem;
}

h1 {
  color: #180333;
  font-weight: 900;
  font-family: 'playfair display', serif;
  font-size: 3.2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  color: #f2f2f2;
  font-family: 'playfair display', serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: 'playfair display', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  color: #180333;
  margin-left: 10%;
  margin-right: auto;
}

h4 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  color: #180333;
  margin-left: 10%;
  margin-right: auto;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

p{
  font-family: 'Muli', sans-serif;
  font-size: 1.4rem;
  color: #180333;
  margin-left: 10%;
  margin-right: auto;
  margin-top: .8rem;
  margin-bottom: .8rem;
  width: 80%;
}
p.resume_header {
  font-size: 1.6rem;
  font-weight: bold;
}
p.resume_date {
  font-weight: 200;
  text-transform: uppercase;
}
.slogan {
  margin-left: auto;
  margin-right: auto;
}

.caption {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}

/*** general structure ***/

article section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.buttons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.buttons1{
  margin-left: 35%;
}
 .button {
   border-top: 1px solid #271341;
   background: #271341;
   background: -webkit-gradient(linear, left top, left bottom, from(#271341), to(#271341));
   background: -webkit-linear-gradient(top, #271341, #271341);
   background: -moz-linear-gradient(top, #271341, #271341);
   background: -ms-linear-gradient(top, #271341, #271341);
   background: -o-linear-gradient(top, #271341, #271341);
   padding: 6px 12px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #dad7de;
   font-size: 1.2rem;
   font-family: 'Muli', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }

 button {
   margin-left: auto;
   margin-right: auto;
 }

.button:hover {
   border-top-color: #423157;
   background: #423157;
   color: #dad7de;
   text-decoration: none;
   }
.button:active {
   border-top-color: #393341;
   background: #393341;
   }

.container {
  background-color: #f2f2f2;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.contact_text,.contact_title {
  color: #f1e6ff;
}

.contact_links {
  margin-left: 10%;
  margin-right: auto;
}

div.desc {
  margin: auto;
  text-align: center;
}

.exp_header {
  margin-bottom: 1.6rem;
  color: #180333;
}

.experience{
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: #eeecf0;
}

.fa-layer-group,.fa-cocktail {
  color:#6F6280;
}

.skills_title{
  color: #180333;
}

header {
  width: 100%;
  background-color: #180333;
}

li {
  color: #F1E6FF;
}

.me {
  width: 25%;
  height: 20rem;
}

.settings_img,.share_img {
  width: 60%;
  margin-top: .8rem;

}

.testing {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.conclusion {
  padding-top: 1.6rem;
  background-color: #746784;
  margin-bottom: 0;
  padding-bottom: 1.6rem;
}

p.conclusion_text {
  color: #f1e6ff;
  margin-bottom: 0;
}
/*** top nav bar ***/
.active {
  display: block;
}
.fa-bars {
  color: #180333;
  margin: 0;
  font-size: 2.8rem;
}
.nav_bar {
  /**background-color: #180333;**/
  width: 100%;
  position: fixed;
}

.nav_link {
  margin-bottom: .8rem;
}
.nav_link:hover {
  text-decoration: underline;
}

.nav_link:active {
  text-decoration: underline;
}

.nav_logo {
  width: 4rem;
  margin-left: 1.6rem;
  margin-top: .8rem;
  margin-bottom: 1.6rem;
}

#nav_menu li {
  text-align: right;
  margin: .8rem;
}

#nav_menu {
  list-style-type: none;
  display: none;
  flex-direction: column;
  margin-bottom: .8rem;
  /**background-color: #180333;**/
}
#navbar_toggle {
  position: absolute;
  top: .8rem;
  right: 2.4rem;
  cursor: pointer;
  color: #180333;
  font-size: 2.8rem;
}


.project_summary {
  margin-bottom: 2.4rem;
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1.5;
}


/** Index Page Specifics **/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url('../styles/images/iStock-1083524580.jpg');
    background-size: cover;
    margin: auto;
    width: 100%;
    padding-bottom: 2.4rem;
    height: 100vh;
  }


.featured_project {
  margin-top: .8rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.6rem;
}

.name {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2rem;
  color: #180333;
}

.section_title {
  color: #180333;
  margin-right: auto;
  margin-bottom: 1.6rem;
  margin-top: 0;
  padding-top: 1.6rem;
}

.slogan_a {
  color: #180333;
  margin-left: auto;
  margin-right: auto;
}

.slogan_b {
  color: #F2f2f2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5;
}

.summary {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  color: #180333;
  width: 80%;
}

#work {
  margin-top: 0;

}

#contact {
  background-color: #746784;
  font-family: 'playfair display', serif;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/** "File" Case Study **/
.hero_project {
  background-color: #eeecf0;
  background-image: none;
}
h3.solutions{
  color: #f1e6ff;
}

.goals {
  margin-bottom: 1.6rem;
}

.case_study {
  margin-left: 10%;
  margin-right: auto;
  color: #F1E6FF;
}

.det_icon {
  color: #180333;
  font-size: 2.8rem;
  margin-left: 40%;
}
img.logo {
  width: 40%;
}
#comp_analysis,#user_stories,#mockups,#lofi_mockups{
  background-color: #f3f2f4;
}
.deliverables_list {
  margin-left: auto;
  margin-right: auto;
}
.little_title {
  font-weight: 700;
  font-size: 1.8rem;
}
#project_breakdown {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.deliverables_list_item {
  margin-left: 10%;
  margin-bottom: 1rem;
}
.pbd {
  width: 80%;
  padding: .8rem;
  margin-left: auto;
  margin-right: auto;
}

.problem {
  padding-top: 1.6rem;
  background-color: #f0eff2;
}
.problem_title {
  color: #180333;
  margin-top: 1.6rem;
}

#research {
  background-color: #eeecf0;
}
.title {
  margin-left: 10%;
  margin-bottom: .8rem;
}

.comp_flex {
  width: 3.2rem;
  height: auto;
}

.swot_title {
  font-weight: 700;
}

.strenghts {
  background-color: #ffe4b2;
}

.weaknesses {
  background-color: #ffb2b2;
}

.opportunities {
  background-color: #e5f2e5;
}

.threats {
  background-color: #e5e5ff;
}

#user_flow,#branding,#user_testing {
  background-color: #eeecf0;
}

#visual_design {
  padding-top: 1.6rem;
}
/** About Me **/
.about_title {
  margin-top: 6.4rem;
  margin-bottom: 2.4rem;
}

.about_intro {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  text-align: center;

}
.about_me {
  margin-top: 1.6rem;
}

.biography {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.bio_intro {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.bio_text {
  width: 80%;
  max-width: 63.2rem;
}

.paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .8rem;
  padding-top: 1.6rem;
  padding-bottom: .8rem;
  width: 80%;
}

.resume_date {
  margin-bottom: .8rem;
}

.resume_header {
  margin-bottom: 1.6rem;
}

.skills {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
.skills_title {
  color: #180333;
}
.resume_icons {
  color: #180333;
  margin-left: 40%;
  margin-right: auto;
  text-align: center;
}
.solution {
  background-color: #746784;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.solution > p,h3 {
  color: #F1E6FF;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 1.6rem;
  text-transform: none;
  font-style: italic;
  margin-left: 10%;
}
/***footer***/


.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-bottom: .8rem;
  overflow: hidden;
  background-color: #180333;
}
.footer_element {
  font-size: 1.2rem;
  color: #f2f2f2;
  text-decoration: none;
  flex-basis: 2.4rem;
}
/**
.footer_text {
  flex: 1;
} **/

i {
  color: #F2F2F2;
  margin-top: .8rem;
  margin-right: 1.8rem;
  font-size: 2.4rem;

}


/***flexbox image galleries for project.html***/

.img_gal_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flexi {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#personas {
  background-color: #eeecf0;
}

.responsive_personas {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.4rem;
}
.survey {
  border: solid 1px;
  width: 80%;
  margin-bottom: 1.6rem;
  border-radius: 5px;
}

#survey_section {
  background-color: #eeecf0;
}
.goal_title {
  font-weight: 700;
}

.persona_det {
  font-weight: 700;
}

.tasks {
  width: 80%;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.persona_quote {
  font-style: italic;
}

.survey_flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.swot_analysis {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.4rem;
}
.swot {
    border: solid 1px #180333;
    width: 80%;
    margin-bottom: 1.6rem;
    border-radius: 5px;
}

.persona {
  width: 100%;
  margin: .8rem;
  border: .1rem solid #180333;
}

.persona_img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  margin-left: 30%;
}

.process_title {
  color: #180333;
  margin-bottom: 1.6rem;
}


table, th, td {
  border: 1px solid #180333;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.user_flows {
  width: 24rem;
  height: 16rem;
  object-fit: contain;
}
/***images***/


img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4rem;
  margin-bottom: .8rem;
  object-fit: cover;
  height: auto;
  width: 100%;
}




img.file {
  width: 24rem;
}

img.solution_img {
    width: 24rem;
}

img.user_research_img {
  width: 80%;
}


/***responsive***/

@media only screen and (min-width: 700px){
  /*** typography ***/
a {
    font-size: 2rem;
  }

h1 {
    font-size: 5.6rem;
  }

h2 {
    font-size: 4rem;
    line-height: 1.5;
  }

h3 {
    font-size: 3.2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

h4 {
    font-size: 2.4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
  }

p {
    font-size: 2rem;
    width: 50%;
    max-width: 63.2rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

p.resume_header {
    font-size: 1.6rem;
  }

.nav_link {
    font-size: 1.6rem;
  }

.bio_intro {
    font-size: 2.4rem;
  }

.caption {
    font-size: 1.6rem;
  }

  .button {
    font-size: 2rem;
  }

  .buttons1{
    margin-left: 45%;
  }
  
/*** index page specifications ***/
.hero {
  height: auto;
}

.name {
  padding-top: 4rem;
}

h1.name {
  font-size: 4.8rem;
}

.slogan_a {
  padding-top: 3.2rem;
}

h2.slogan_a{
  font-size: 3.2rem;
  font-weight: 700;
}

.slogan_b {
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
  width: 64rem;
}
.about_title .project_title {
  margin-top: 7.2rem;
}

.about_intro{
  margin-bottom: 3.2rem;
}

.survey_flex {
  flex-flow: row wrap;
  align-items: baseline;
}

.survey {
  width: 40%;
}

.swot_analysis {
  flex-flow: row wrap;
  align-items: baseline;
}
.swot {
  width: 40%;
}

/*** "File" project page ***/
.branding_img {
  width: calc(25% - 1.6rem);
  margin: 0;
  object-fit: contain;
}

.backtotop {
  width: fit-content;
  margin-left: 45%;

}

p.detail {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.det_icon {
  margin-left: 44%;
  width: fit-content;
  font-size: 4rem;

}
h4.breakdown_title {
    width: fit-content;
    text-align: center;
}

img.logo2 {
  width: 17.2rem;
  height: auto;
}
.persona {
  width: calc(50% - 1.6rem);
  margin: .8rem;
}

.problem,.solution,#contact,.conclusion {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.persona_info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.share_img,.settings_img {
  width: calc(40% - 1.6rem);
}

.testing {
  flex-direction: row;
  padding: 1.6rem;
}

.img_gal_flex {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .comp_flex {
    width: 8rem;
    height: auto;
  }

.deliverables_list_item {
  margin-bottom: 1.6rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
  .flexi {
    width: calc(40% - 1.6rem);
    margin: .8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .project_title {
    margin-top: 8rem;
    margin-bottom: 5.6rem;
  }

  img.file {
    width: 40rem;
  }

  img.solution_img {
      width: 40rem;
  }

.pbd {
  width: 20%;
}
  .user_flows {
    width: 50rem;
    height: 24rem;
    object-fit: contain;
    margin-left: 30%;
  }

  .tasks {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
/*** about me ***/
.biography {

}


/*** nav bar ***/
  .nav_bar {
        display: flex;
        justify-content: space-between;
        height: 6.4rem;
        align-items: center;
        position: fixed;
    }

    #nav_menu {
        display: flex;
        margin-right: 3.2rem;
        flex-direction: row;
        justify-content: flex-end;
    }

    #nav_menu li {
        margin: 0;
    }

    .nav_link {
        margin-left: 2rem;
    }

    .nav_logo {
        width: 5.6rem;
        margin-top: 1.6rem;
    }
   #navbar_toggle {
       display: none;
    }
  }
