*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
h1 {
  font-size:
}
h2 {
  font-size:
}
h3 {
  font-size:
}
h4 {
  font-size:
}
p{
  font-size:
}
.container {
  height: 100vh;
  margin: 0 auto;
  background-color: #F2F2F2;
  width: 50rem;
}
