*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

. {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** typogaphy ***/
a {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #180333;
}

h1 {
  color: #F1E6FF;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  text-align: center;
}
h2 {
  color: #F1E6FF;
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  text-align: left;
  line-height: 1.5;
}
h3 {
  font-family: 'Muli', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #180333;
}
h4 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #180333;
}

.nav_element {
  font-size: .8rem;
}
p{
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  color: #180333;
}
p.resume_header {
  font-size: 1.6rem;
  font-weight: bold;
}
p.resume_date {
  font-weight: 200;
  text-transform: uppercase;
}

.slogan_b {
  color: #180333;
}


/*** structure ***/
.about_title {
  padding-top: 4rem;
  padding-bottom: 2.4rem;
}

.about_intro {
  padding-bottom: 4rem;
}
.about_me {
  padding-top: 1.6rem;
}
article {
  padding-top: 4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

p.bio_text {
  padding-top: 1.6rem;
}
.branding_img {
  display: inline-block;
  padding: 4rem auto;
}

button {
	box-shadow: 0px 6px 8px -7px #071033;
	background-color: #180333;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color:#F2F2F2;
	font-family: 'Muli', sans-serif;
	font-size: .8rem;
	font-weight: bold;
  margin-left: 3.2rem;
	padding: .8rem 1.6rem;
	text-decoration: none;
}

.conclusion {
  margin-bottom: 5.6rem;
}

.container {
  background-color: #F2F2F2;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
#contact {
  padding-bottom: 4rem;
}
.contact_links {
  padding-top: 1.6rem;
}

div.desc {
  margin: auto;
  text-align: center;
}

.exp_header {
  padding-bottom: 1.6rem;
}
.experience{
  padding-top: 8rem;
  padding-bottom: 2.4rem;
}

h4 {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}

h3 {
  padding-bottom: 1.6rem;
}

header {
  width: 100%;
  background-color: #180333;
}

.hero {
    background: linear-gradient(180deg, #180333 0%, rgba(30, 4, 64, 0.95) 45.83%, #180333 100%);
    margin: auto;
    width: 100%;
  }


li {
  color: #F2F2F2;
}

li .nav_element{
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  float: right;
}
li .footer_icon{
  display: block;
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}
li .footer_element{
  display: block;
  color: #F2F2F2;
  float: right;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.name {
  padding-top: 14rem;
}
.nav_logo {
margin-top: .4rem;
margin-left: .8rem;
margin-bottom: 0;
margin-right: 0;
}
img.nav_logo {
  width: 2.4rem;
  height: auto;
}
li .nav_logo {
  float: left;

}

#personas_janessa {
  padding-right: 1.6rem;
}
.project_summary {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.project_title {
  padding-top: 4rem;
}
section {
  padding-top: 3.2rem;
}

.slogan_a {
  text-align: center;
  padding: 6.4rem;
}

.summary {
  padding: 6.4rem 4rem;
}

.resume_date {
  padding-bottom: .8rem;
}

.responsive_personas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.responsive_hf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.responsive_wf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.resume_header {
  padding-bottom: 1.6rem;
}

.skills {
  padding-bottom: 3.2rem;
}

ul.nav_bar {
  width: 100%;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #180333;
}

ul.footer {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #180333;
}


/***images***/

#personas_janessa {
  background-image: url('images/Janessa Persona.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: contain;
}

#personas_theo {
  background-image: url('images/Theo Persona.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: contain;
}

#wireframe_cc {
  background-image: url('images/WF_CC_info.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#wireframe_dash {
  background-image: url('images/WF Dashboard.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#wireframe_settings {
  background-image: url('images/WF Settings.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#wireframe_landing {
  background-image: url('images/WF Landing Page revised.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#highfi_dashboard {
  background-image: url('images/HF_Dashboard.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#highfi_sharing {
  background-image: url('images/HF_Document_Sharing_settings.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#highfi_doc_display {
  background-image: url('images/HF_Document_Display.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}

#highfi_signup {
  background-image: url('images/HF_Sign_In_Up.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  height: 40rem;
  width: 100%;
  background-size: cover;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  object-fit: cover;
  height: 25%;
  width: 40%;
}

img.file {
  height: 22.5rem;
  width: 80%;
}

img.solution_img {
    width: 80%;
}

img.user_research_img {
  width: 80%;
}
/***responsive***/

@media screen and (min-width: 575px){
  /*** typography ***/
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  p.resume_header {
    font-size: 1.6rem;
  }

.responsive_hf .responsive_wf .responsive_personas {
  flex-direction: row;
}

  img.nav_logo {
    width: 3.2rem;
    height: auto;
  }

}

@media screen and (min-width: 991px){

  #wireframe_cc #wireframe_settings #wireframe_dash #wireframe_landing #highfi_signup #highfi_sharing #highfi_dashboard #highfi_doc_display {
    width: 25%;
    height: auto;

  }
}
